.top-nav {
  list-style: none;
  padding: 0; }
  .top-nav li {
    display: inline-block; }

.highlights {
  display: table;
  border-spacing: 5px; }
  .highlights .row {
    display: table-row; }
  .highlights .cell {
    display: table-cell;
    vertical-align: top;
    padding: 0 15px; }
  .highlights .network {
    background: #c5c5c5; }
  .highlights .learn {
    background: #dd1a14; }
  .highlights .informed {
    background: #ff7900; }
