<div class="row highlights">
    <div class="large-4 columns">
        <div>
            <h2 class="hl1">Network</h2>
            <i class="icon-group right"></i>
            <p>Our group is growing! <span ng-show="groupDetails.members > 0"><span ng-bind="groupDetails.members"></span> developers make up the AngularJS OC meetup.</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, excepturi, aliquid, aut, mollitia quod aspernatur modi nobis illum quidem quaerat deleniti quasi expedita. Vel consequuntur molestiae qui </p> 
            <div class="cf"></div>  
        </div>
    </div>
    <div class="large-4 columns">
        <div>
            <h2 class="hl2">Learn</h2>
            <i class="icon-book right"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, odio, reprehenderit, vel consequuntur molestiae qui deleniti nulla fugiat quod alias necessitatibus voluptate non earum</p> 
            <div class="cf"></div>  
        </div>
    </div>
    <div class="large-4 columns">
        <div>
            <h2 class="hl3">Stay up to date</h2>
            <i class="icon-refresh right"></i>  
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, saepe dignissimos mollitia! Accusantium, debitis, reiciendis, quibusdam.</p> 
            <div class="cf"></div>    
        </div>
    </div>
</div>
<section id="upcomingMeetups">
    <div class="row">
        <div class="large-12 columns">
            <h2>Upcoming Meetups</h2>
        </div>
    </div>
    <div upcoming-meetups>
    </div>
</section>
</div>