<div class="row">
	<div class="large-12 columns">
		<h3>About</h3>
    <p>
      The <strong><a href="{{social.meetup}}" target="_blank">AngularJS-OC</a></strong> meetup was started in
      July 2013 to serve AngularJS enthusiasts in Orange County. At the time there was already a group that met
      in Los Angeles. Southern Californians know that might as well be Canada with the distance and traffic separating
      our geographies.
    </p>
    <p>
      The awesomeness of our young meetup is seeded by volunteers who lend their time and talent. Can you
      <strong><a href="/getinvolved">help</a></strong>?
    </p>
	</div>
</div>