<div class="row">
	<div class="large-12 columns">
		<h3>About</h3>
    <p>
      The <strong><a href="{{social.meetup}}" target="_blank">AngularJS-OC</a></strong> meetup was started in
      July 2013 to serve AngularJS enthusiasts in the Orange County area. At the time there was already a group that met
      in Los Angeles. Southern Californians know that might as well be Canada with the distance and traffic separating
      our geographies.
    </p>
    <p>
      While we are made up of <span ng-bind="groupDetails.members"></span> members, the group is still very much in its
      infancy compared to related meetups in OC. We need all kinds of help:
      <ul style="margin-left: 3em">
        <li>
          <strong>Presenters</strong> to talk about AngularJS, how they're using it in real life, lessons learned from
          migrating existing code, etc.
        </li>
        <li>
          <strong>Sponsors</strong> who can extend job and networking opportunities, help with the cost of food, and
          provide raffle prizes
        </li>
        <li>
          <strong>Hosts</strong> who can provide us with a fun meeting space
        </li>
      </ul>
    </p>
	</div>
</div>