<div class="row">
	<div class="large-3 large-offset-3 columns">
		<h3>Resources</h3>
    <ul>
      <li><a href="http://angularjs.org" target="_blank">angularjs.org</a></li>
      <li><a href="http://youtube.com/user/angularjs/videos" target="_blank">angularjs youtube</a></li>
      <li><a href="http://egghead.io" target="_blank">egghead.io</a></li>
      <li><a href="http://angular-tips.com" target="_blank">angular-tips.com</a></li>
    </ul>
	</div>
	<div class="large-3 columns">
		<h3>Contact</h3>
			<a href="/contact"><i class="icon-envelope"></i> E-mail</a>
	</div>
	<div class="large-3 columns">
		<h3>Social</h3>
		<ul class="social">
			<li><a href="{{social.twitter}}" target="_blank"><i class="icon-twitter"></i></a></li>
			<li><a href="{{social.google}}" target="_blank"><i class="icon-google-plus-sign"></i></a></li>
			<li><a href="{{social.fb}}" target="_blank"><i class="icon-facebook"></i></a></li>
		</ul>
	</div>
</div>