<div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Get Involved</h3>

            <p>
                While we are made up of <span ng-bind="groupDetails.members"></span> members, the group is still very
                much in its
                infancy compared to related meetups in OC. We need all kinds of help:
            </p>
            <ul>
                <li>
                    <strong>Presenters</strong> to talk about AngularJS, how they're using it in real life, lessons
                    learned from
                    migrating existing code, etc.
                </li>
                <li>
                    <strong>Sponsors</strong> who can extend job and networking opportunities, help with the cost of
                    food,
                    raffle prizes, and cool schwag
                </li>
                <li>
                    <strong>Hosts</strong> who can provide us with a fun meeting space to socialize and learn
                </li>
                <li>
                    <strong>Volunteers</strong> who can film presentations, take pictures, promote, find speakers or
                    help out in any way
                </li>
            </ul>
        </div>
    </div>
    <volunteer-tasks></volunteer-tasks>
</div>