<div class="row">
	<div class="large-12 columns">
		<h3>Get Involved</h3>
    <p>
      While we are made up of <span ng-bind="groupDetails.members"></span> members, the group is still very much in its
      infancy compared to related meetups in OC. We need all kinds of help:
    <ul>
      <li>
        <strong>Presenters</strong> to talk about AngularJS, how they're using it in real life, lessons learned from
        migrating existing code, etc.
      </li>
      <li>
        <strong>Sponsors</strong> who can extend job and networking opportunities, help with the cost of food, and
        provide raffle prizes
      </li>
      <li>
        <strong>Hosts</strong> who can provide us with a fun meeting space
      </li>
      <li>
        <strong>Volunteers</strong> who can record meetups, take pictures, promote, or help out in any way
        any way
      </li>
    </ul>
    </p>
	</div>
</div>