      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a href="#"></a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section right">
          <ul>
                <li><a href="/#/">home</a></li>
                <li><a href="/#/about">about</a></li>
                <li><a href="/#/announcements">announcements</a></li>
                <li><a href="/#/presentations">presentations</a></li>
                <li><a href="/#/getinvolved">get involved</a></li>
                <li><a href="/#/contact">contact</a></li>
          </ul>
        </section>
      </nav>