<div class="row">
  <div class="large-12 columns">
    <h3>Presentations</h3>

    <article role="article">
      <h4>Getting Started with AngularJS</h4>
      <time>8/28/2013</time>
      <p>
      <address>
        <strong>Hattan Shobokshi</strong> -
        <a href="http://twitter.com/hattan" target="_blank">@hattan</a> -
        <a href="http://mvcdotnet.wordpress.com" target="_blank">blog</a>
      </address>
      </p>
      <p>
        <strong>Abstract:</strong> HTML enhancements for web apps! AngularJS is a JavaScript framework for building
        rich,
        complex and maintainable web applications. It is fully extensible and works well with other libraries. AngularJS
        has support for client side routing, data binding, RESTful sever communication and more. AngularJS also lets you
        extend HTML vocabulary for your applications. The resulting environment is extraordinarily expressive, readable,
        and quick to develop.</p>

      <p>
        In this presentation, we’ll introduce you to AngularJS. We’ll start with a new web application and build a
        sample app to highlight some of the features in AngularJS. We will build a RESTful endpoint using <strong>Node
        JS</strong> to
        easily persist data back to the server. This will be a code heavy talk with lots of examples. We’ll look at
        various features of the framework including support for data binding, client side routing, services, filters and
        dependency injection. This presentation will give you an introduction to AngularJS and some tips for creating
        complex and maintainable front-end web applications.
      </p>

      <p>
        <strong>About the Presenter:</strong>
        Hattan Shobokshi is a Senior Software Engineer, Technical Speaker, and Microsoft MVP. Hattan is responsible
        for developing applications on a variety of platforms including web, desktop and mobile devices. He is
        passionate about delivering scalable applications that adhere to industry best practices. Hattan is experienced
        in both server side and client side web development. Hattan is a member of the organizing committee for SoCal
        Code Camp. He regularly presents at local user groups and code camps.
      </p>

      <p>
        <img src="/images/featured-tech-logos/ng-logo.png" alt="AngularJS"/>
        <img src="/images/featured-tech-logos/nodejs.png" alt="NodeJS"/>
      </p>
    </article>
  </div>
</div>