<div class="row">
  <div class="large-12 columns">
    <h2>Sponsors</h2>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <a href="http://kareo.com" target="_blank">
      <img src="http://photos1.meetupstatic.com/photos/sponsor/2/0/6/e/iab120x90_1808302.jpeg" alt="Kareo">
    </a>
  </div>
  <div class="large-4 columns">
    <a href="http://pluralsight.com" target="_blank">
      <img src="http://s.pluralsight.com/mn/img/logo/pluralsight-fullcolor-175x39-v1.png"
           alt="Pluralsight - Hardcore Developer Training"/>
    </a>
  </div>
  <div class="large-4 columns">

  </div>
</div>