<div class="large-8 columns">
    <h2>Sponsors</h2>

    <div style="display: table; width: 100%">
        <div style="display: table-row">
            <div style="display: table-cell">
                <a href="http://kareo.com" target="_blank">
                    <img src="http://photos1.meetupstatic.com/photos/sponsor/2/0/6/e/iab120x90_1808302.jpeg"
                         alt="Kareo">
                </a>
            </div>
            <div style="display: table-cell">
                <a href="http://pluralsight.com" target="_blank">
                    <img src="http://s.pluralsight.com/mn/img/logo/pluralsight-fullcolor-175x39-v1.png"
                         alt="Pluralsight - Hardcore Developer Training"/>
                </a>
            </div>
            <div style="display: table-cell">
                <a href="http://manning.com" target="_blank"><img
                        src="http://www.manning.com/ugprogram/images/banner2.jpg" alt="Manning"></a>
            </div>
        </div>

    </div>
</div>
