<div class="row">
    <div class="large-4 columns">
        <div class="box1">
            <h2>Network</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, excepturi, aliquid, aut, mollitia quod aspernatur modi nobis illum quidem quaerat deleniti quasi expedita. Vel consequuntur molestiae qui </p> 
            <i class="icon-group right icon-2x"></i>
            <div class="cf"></div>  
        </div>
    </div>
    <div class="large-4 columns">
        <div class="box2">
            <h2>Learn</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, odio, reprehenderit, vel consequuntur molestiae qui deleniti nulla fugiat quod alias necessitatibus voluptate non earum</p> 
            <i class="icon-book right icon-2x"></i>
            <div class="cf"></div>  
        </div>
    </div>
    <div class="large-4 columns">
        <div class="box3">
            <h2>Stay up to date</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, saepe dignissimos mollitia! Accusantium, debitis, reiciendis, quibusdam.</p> 
            <i class="icon-refresh right icon-2x"></i>  
            <div class="cf"></div>    
        </div>
    </div>
</div>
<div class="row gap">
    <div class="large-8 large-offset-4 columns">
        <div class="box1" ng-controller="UpcomingMeetups">
            <h2>Upcoming Meetups</h2>
            <ul class="newevents">
                <li ng-show="!events.length">There are currently no upcoming events.  <a href="http://www.meetup.com/AngularJS-OC/events/suggested/#">Suggest a Meetup</a></li>
                <li ng-repeat="event in events">
                     <a href="{{event.event_url}}"><h4>{{event.name}}</h4></a>  Yes: {{event.yes_rsvp_count}} / Maybe: {{event.maybe_rsvp_count}} / Waitlist: {{event.waitlist_count}}
                    <br />
                    {{ event.time | date:'EEEE, MMMM d, y' }} at {{ event.time | date:'h:mm a' }}
                    <br />
                    {{event.description | truncate}} <a href="{{event.event_url}}">Read More</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>