<div class="row">
	<div class="large-3 large-offset-3 columns">
		<h3>Resources</h3>
	</div>
	<div class="large-3 columns">
		<h3>Contact</h3>
			<a href="/#/contact"><i class="icon-envelope"></i> E-mail</a>
	</div>
	<div class="large-3 columns">
		<h3>Social</h3>
		<ul class="social">
			<li><a href="https://twitter.com/AngularJSOC?refsrc=email"><i class="icon-twitter"></i></a></li>
			<li><a href="https://plus.google.com/u/0/103947436301596064094/posts?cfem=1"><i class="icon-google-plus-sign"></i></a></li>
			<li><a href="https://www.facebook.com/groups/146772135530385/"><i class="icon-facebook"></i></a></li>
		</ul>
	</div>
</div>