    <div class="row" ng-show="!events.length">
        <div class="large-12 columns">
            <div class="meetupdetails">
            There are currently no upcoming events
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="event in events">
        <div class="large-8 columns">
            <div class="meetupdetails">
                 <h4><a href="{{event.event_url}}" target="_blank">{{event.name}}</a></h4>
                <span class="datetime">{{ event.time | date:'EEEE, MMMM d, y' }} at {{ event.time | date:'h:mm a' }}</span>
                <span class="rsvps">{{event.yes_rsvp_count}} Attending, {{event.waitlist_count}} on Waitlist</span>
                {{event.description | truncate}} <a href="{{event.event_url}}" target="_blank">Read More</a>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="meetuplocation">
                <h4>Location</h4>
                <address>
                {{event.venue.name}}<br />
                {{event.venue.address_1}}<br />
                {{event.venue.city}}, {{event.venue.state}}
                </address>
                <br />
                <a class="button" href="https://maps.google.com/maps?daddr={{event.venue.name}},{{event.venue.address_1}}<,{{event.venue.city}},+{{event.venue.state}}" target="_blank">Get Directions</a>
            </div>
        </div>
    </div>
