<div class="row">
    <div class="large-12 columns">
        <h3>About</h3>

        <p>
            The <strong><a href="{{social.meetup}}" target="_blank">AngularJS OC</a></strong> meetup was started in
            July 2013 to serve AngularJS enthusiasts in Orange County. At the time there was already a group that met
            in Los Angeles. Southern Californians know that might as well be Canada with the distance and traffic
            separating
            our geographies.
        </p>

        <p>
            The explosion of <a href="http://todomvc.com" target="_blank">MVC frameworks</a> in the web
            community might lead to analysis paralysis. Make your life simple by reducing your choice to just AngularJS.
            Organize  your code and iterate faster. Learn what some are already calling "HTML6".
        </p>

        <p>
            The awesomeness of our young meetup is due to volunteers who lend their time and talent. Can you
            <strong><a href="/getinvolved">help</a></strong>?
        </p>

        <p>
            <strong>Organizer: Loc Nguyen</strong>
            <br/>
            The browser is the ultimate development platform and I'm fortunate to
            develop with the most exciting technologies. I've worked in companies big and small in different industries
            to push my ability to engineer the best solutions. I'm passionate about bringing people together into a
            kick-ass community and <strong><a href="{{social.meetup}}" target="_blank">AngularJS OC</a></strong> is a
            result of that. Innovation and engagement shouldn't be limited to
            tech geeks, though. Help me organize <strong><a href="http://www.meetup.com/codeforoc/" target="_blank">Code for
            America Brigade in OC</a></strong> to promote the same values that are so
            important in open source!
        </p>
    </div>
</div>