<div class="row">
  <div class="large-4 large-offset-4 columns">
    <h3>Resources</h3>
    <ul>
      <li><a href="http://angularjs.org" target="_blank">angularjs.org</a></li>
      <li><a href="http://youtube.com/angularjs" target="_blank">youtube.com/angularjs</a></li>
      <li><a href="https://egghead.io/pricing?dc=ng_socal" target="_blank">egghead.io</a></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <h3>Social</h3>
    <ul class="social">
      <li><a href="{{social.twitter}}" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a href="{{social.google}}" target="_blank"><i class="icon-google-plus-sign"></i></a></li>
    </ul>
  </div>
</div>
