<nav class="top-bar" role="navigation">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1><a href="#"></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section right">
        <ul>
            <li>
                <a ui-sref="home" ui-sref-active="active">
                    home
                </a>
            </li>
            <li>
                <a ui-sref="presentations" ui-sref-active="active">
                    presentations
                </a>
            </li>
            <li>
                <a ui-sref="getinvolved" ui-sref-active="active">
                    get involved
                </a>
            </li>
            <li>
                <a ui-sref="sponsorship" ui-sref-active="active">
                    sponsorship
                </a>
            </li>
            <li>
                <a ui-sref="policies" ui-sref-active="active">
                  policies
                </a>
            </li>
            <li>
                <a ui-sref="about" ui-sref-active="active">
                    about
                </a>
            </li>
            <li>
                <a ui-sref="contact"  ui-sref-active="active">
                    contact
                </a>
            </li>
        </ul>
    </section>
</nav>
