<div class="row highlights" role="region">
    <div class="large-4 columns">
        <div>
            <h2 class="hl1">Network</h2>
            <i class="icon-group right"></i>
            <p>
              <span ng-show="groupDetails.members > 0">
                <span ng-bind="groupDetails.members"></span> members make up the AngularJS OC meetup.
              </span>
              Meet like minded developers, find new projects to hack on, and land your next job and business
              opportunities.
            </p>
            <div class="cf"></div>  
        </div>
    </div>
    <div class="large-4 columns">
        <div>
            <h2 class="hl2">Learn</h2>
            <i class="icon-book right"></i>
            <p>
              See how pros build single page applications with AngularJS in different technology stacks. Stay
              on the right path by applying knowledge shared in our community.
            </p>
            <div class="cf"></div>  
        </div>
    </div>
    <div class="large-4 columns">
        <div>
            <h2 class="hl3">$watch(angular)</h2>
            <i class="icon-refresh right"></i>  
            <p>
              Stay current with AngularJS as it evolves. Don't get left behind as browser capabilities
              improve and the JavaScript MVC scene matures.
            </p>
            <div class="cf"></div>    
        </div>
    </div>
</div>