<section ng-include="'views/highlights.html'"></section>

<section role="complimentary">
    <div class="row">
        <div class="large-12 columns">
            <h2>Upcoming Meetups</h2>
        </div>
    </div>
    <div upcoming-meetups>
    </div>
</section>

<section>
    <div class="row">
        <div class="large-4 columns">
            <h2>Timeline</h2>
            <twitter-timeline></twitter-timeline>
        </div>
        <span ng-include="'views/sponsors.html'"></span>
    </div>
</section>
