<div class="row">
    <div class="large-12 columns">
        <h3>Presentations</h3>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <article role="article">
            <h4>$digest loop</h4>
            <time>04/03/2014</time>
            <p>
                <address>
                    <strong>Buu Nguyen</strong> -
                    <a href="https://twitter.com/buunguyen" target="_blank">@buunguyen</a>
                </address>
            </p>
            <p>
                <strong>Abstract:</strong>
                One of the major components of AngularJS is the digest loop, which makes features like data binding and
                model watching possible. Understanding how the digest loop works help you avoid many performance
                pitfalls and bugs in your applications. This presentation examines the digest loop in details and
                explores how other features are built on top of it.
            </p>
            <p>
                <strong>Bio:</strong>
                Buu is the technical director at a startup where he builds cloud and desktop apps. He loves anything
                JavaScript and has built many production apps with it and its friend such as NodeJS, AngularJS,
                CoffeeScript and TypeScript. Before catching the JS bug, he worked primarily with Java and .NET and
                occasionally with Rails and iOS. In his spare time, he pushes code to GitHub.
            </p>
        </article>
        <article role="article">
            <h4>JS Tools: Bower, Grunt & Gulp</h4>
            <time>02/06/2014</time>
            <p>
                <address>
                    <strong>Mike Erickson</strong> -
                    <a href="https://twitter.com/codedungeon" target="_blank">@codedungeon</a> -
                    <a href="http://www.codedungeon.org" target="_blank">website</a>
                </address>
            </p>
            <p>
                <strong>Bio:</strong>
                As a software developer since 1989, I have seen many technologies come and go (and have dabbled in just
                about everything). The current state of software development is as exciting as ever! With the advent of
                web applications, the industry is growing at a rapid pace – keeping up with everything is a job all by
                itself.
            </p>
            <p>
                <img src="images/featured-tech-logos/bower-logo.png" alt="Bower"/>
                <img src="images/featured-tech-logos/grunt-logo.png" alt="Grunt"/>
                <img src="images/featured-tech-logos/gulp-logo.png" alt="Gulp"/>
            </p>
        </article>
        <article role="article">
            <h4>Flight School: Dart and DartAngular</h4>
            <time>02/06/2014</time>
            <p>
                <address>
                    <strong>Loc Nguyen</strong> -
                    <a href="https://twitter.com/locn" target="_blank">@locn</a>
                </address>
            </p>
            <p>
                <strong>Bio:</strong>
                The browser is the ultimate development platform and I'm fortunate to develop with the most exciting
                technologies. I've worked in companies big and small in different industries to push my ability
                to engineer the best solutions. I'm passionate about bringing people together into a kick-ass community
                and <a href="http://www.meetup.com/AngularJS-OC/" target="_blank">AngularJS-OC</a> is a result of that.
                Innovation and engagement shouldn't be limited to tech geeks, though. Help me organize
                <a href="http://www.meetup.com/codeforoc/">Code for America Brigade</a> in OC to promote the same values
                that are so important in open source!
            </p>
            <p>
                <img src="images/featured-tech-logos/ng-logo.png" alt="AngularJS"/>
                <img src="images/featured-tech-logos/dart-logo.png" alt="Dart"/>
            </p>
        </article>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <article role="article">
            <h4>Testing AngularJS with Karma & Jasmine</h4>
            <time>9/26/2013</time>
            <p>
                <address>
                    <strong>Hattan Shobokshi</strong> -
                    <a href="https://twitter.com/hattan" target="_blank">@hattan</a> -
                    <a href="http://mvcdotnet.wordpress.com" target="_blank">blog</a>
                </address>
            </p>
            <p>
                <img src="images/featured-tech-logos/karma-logo.png" alt="Karma"/>
                <img src="images/featured-tech-logos/jasmine-logo.png" alt="Jasmine"/>
            </p>
        </article>

        <article role="article">
            <h4>Async JavaScript Programming with Promises in AngularJS & jQuery</h4>
            <time>9/26/2013</time>
            <p>
                <address>
                    <strong>Loc Nguyen</strong> -
                    <a href="https://twitter.com/locn" target="_blank">@locn</a>
                </address>
            </p>
            <p>
                <img src="images/featured-tech-logos/ng-logo.png" alt="AngularJS"/>
                <img src="images/featured-tech-logos/jquery-logo.png" alt="jQuery"/>
            </p>
        </article>

        <article role="article">
            <h4>KendoUI Mobile</h4>
            <time>9/26/2013</time>
            <p>
                <address>
                    <strong>Hattan Shobokshi</strong> -
                    <a href="https://twitter.com/hattan" target="_blank">@hattan</a> -
                    <a href="http://mvcdotnet.wordpress.com" target="_blank">blog</a>
                </address>
            </p>
            <p>
                <img src="images/featured-tech-logos/kendoui-logo.png" alt="KendoUI"/>
            </p>
        </article>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <article role="article">
            <h4>Getting Started with AngularJS</h4>
            <time>8/28/2013</time>
            <p>
            <address>
                <strong>Hattan Shobokshi</strong> -
                <a href="https://twitter.com/hattan" target="_blank">@hattan</a> -
                <a href="http://mvcdotnet.wordpress.com" target="_blank">blog</a>
            </address>
            </p>
            <p>
                <strong>Abstract:</strong> HTML enhancements for web apps! AngularJS is a JavaScript framework for
                building
                rich,
                complex and maintainable web applications. It is fully extensible and works well with other libraries.
                AngularJS
                has support for client side routing, data binding, RESTful sever communication and more. AngularJS also
                lets you
                extend HTML vocabulary for your applications. The resulting environment is extraordinarily expressive,
                readable,
                and quick to develop.</p>

            <p>
                In this presentation, we’ll introduce you to AngularJS. We’ll start with a new web application and build
                a
                sample app to highlight some of the features in AngularJS. We will build a RESTful endpoint using
                <strong>Node
                    JS</strong> to
                easily persist data back to the server. This will be a code heavy talk with lots of examples. We’ll look
                at
                various features of the framework including support for data binding, client side routing, services,
                filters and
                dependency injection. This presentation will give you an introduction to AngularJS and some tips for
                creating
                complex and maintainable front-end web applications.
            </p>

            <p>
                <strong>Bio:</strong>
                Hattan Shobokshi is a Senior Software Engineer, Technical Speaker, and Microsoft MVP. Hattan is
                responsible
                for developing applications on a variety of platforms including web, desktop and mobile devices. He is
                passionate about delivering scalable applications that adhere to industry best practices. Hattan is
                experienced
                in both server side and client side web development. Hattan is a member of the organizing committee for
                SoCal
                Code Camp. He regularly presents at local user groups and code camps.
            </p>

            <p>
                <img src="images/featured-tech-logos/ng-logo.png" alt="AngularJS"/>
                <img src="images/featured-tech-logos/nodejs.png" alt="NodeJS"/>
            </p>
        </article>
    </div>
</div>