<div class="large-8 columns">
    <h2>Sponsors</h2>

    <div style="display: table; border-spacing: .5em; width: 100%">
        <div style="display: table-row">
            <div style="display: table-cell">
                <a href="http://kareo.com" target="_blank">
                    <img src="http://photos1.meetupstatic.com/photos/sponsor/2/0/6/e/iab120x90_1808302.jpeg"
                         alt="Kareo"
                         style="width: 100%; max-width: 120px">
                </a>
            </div>
            <div style="display: table-cell">
                <a href="http://pluralsight.com" target="_blank">
                    <img src="http://s.pluralsight.com/mn/img/logo/pluralsight-fullcolor-175x39-v1.png"
                         alt="Pluralsight - Hardcore Developer Training"
                         style="width: 100%; max-width: 175px">
                </a>
            </div>
            <div style="display: table-cell">
                <a href="http://manning.com" target="_blank">
                    <img src="http://www.manning.com/ugprogram/images/banner2.jpg" alt="Manning"
                         style="width: 100%; max-width: 129px">
                </a>
            </div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell">
                <a href="http://www.jetbrains.com/webstorm/" target="_blank">
                    <img src="http://www.jetbrains.com/img/logos/webstorm_logo142x29.gif" alt="JetBrains Webstorm"
                        style="width: 100%; max-width: 142px">
                </a>
            </div>
            <div style="display: table-cell"></div>
            <div style="display: table-cell"></div>
        </div>
    </div>
</div>
