<div class="row">
    <div class="large-12 columns">
        <h3>Sponsorship</h3>

        <p>Can’t find amazing developers who get it done? Maybe they don’t know you’re hiring. Maybe they don’t even
            know your company exists!</p>

        <p>Brand your company as the place where passionate engineers work and see the brightest developers apply for
            all your open positions.</p>

        <p>AngularJS OC has more than 200 members and is the fastest growing front-end user group in S.
            California. Our meetup attracts developers on the cutting edge of web development who are eager to put those
            skills to use.</p>

        <p>Take 5 minutes to personalize your company and mention openings at the next meetup. Network and invite the
            most qualified to interview. See your job reqs listed on meetup messages and brand yourself to a highly
            targeted and local audience.</p>

        <h4>Sponsorship Benefits</h4>

        <ul>
            <li>5 minutes to talk about your company and job openings at the next meetup</li>
            <li>Your open positions will be on the website and meetup discussion board for two months</li>
            <li>Your open positions will be in the footer of organizer e-mails for two months</li>
            <li>Your company will be listed as a sponsor on the website, meetup page, and a pre/post presentation slide
                for the entire calendar year
            </li>
        </ul>

        <p>
            To set up your company as a sponsor please e-mail <a href="mailto:angularjsoc@gmail.com">angularjsoc@gmail.com</a>
        </p>
    </div>
</div>